__pycache__
**/__pycache__
*.py[cod]
venv
**/venv
.venv
**/.venv
.git
**/.git
.env
**/.env
.env.*
**/.env.*
chroma_data
**/chroma_data
.pytest_cache
.mypy_cache
.ruff_cache
.vscode
*.log
*.zip
build-first.log
build-rebuild.log
